/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url("components/banner.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Georama;
}

p {
  font-family: Georama;
  font-size: 18px;
  font-weight: lighter;
}
a {
  text-decoration: none;
}

/* Custom design below! */
